body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #title {
    padding: 20px;
  }
  
  h1 {
    font-size: 48px;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
  }
  
  #container {
    margin-right: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 3px;
    max-width: 800px;
    width: 100%;
  }
  
  #juegoOverlay {
    position: relative;
  }
  
  #nintendo {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
  }
  
  #juegoCanvas {
    border: 4px solid #ff69b4;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
  }
  
  #puntos {
    font-size: 24px;
    color: #ff69b4;
    margin-top: 20px;
  }


  #containerE {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    max-width: 800px;
    width: 100%;
  }
  
  #empecemos h1 {
    font-size: 48px;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
  }
  
  #start-form {
    margin-top: 30px;
  }
  
  #player-name {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ff69b4;
    border-radius: 8px;
    outline: none;
  }
  
  #start-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
  }
  
  #start-button:hover {
    background-color: #ff4f9d;
  }